.body {
    background: url("../image/background.png") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.tableau {
  width: 60%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.724);
  padding: 20px;
  box-sizing: border-box;
}

.tableau table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.tableau th,
.tableau td {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
}

.tableau th {
  font-weight: bold;
}
